html,
body {
    /* do nothing */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --school-color: #692933;
    --space-accent: #311d51C0;
    --space-secondary: #030014C0;
    --logo-width: 170px;
    --nav-background: linear-gradient(135deg, var(--school-color) var(--logo-width), transparent calc(var(--logo-width) + 20%)),
                      linear-gradient(185deg, var(--space-accent), var(--space-secondary));

    --nav-height: calc(30px + 1em);
    --pre-nav-height: 4em;
}

* {
    box-sizing: border-box;
}

.pre-nav {
    position: relative;
    z-index: 1000;
    padding: 10px 10px 0 10px;
    height: var(--pre-nav-height);
}

.pre-nav, nav.navbar {
    position: relative;
    z-index: 100;
    background: var(--nav-background);
    background-size: 100% calc(var(--nav-height) + var(--pre-nav-height));
}

.nav-blurdrop {
    backdrop-filter: blur(10px);
    width: 100%;
    height: calc(var(--nav-height) + var(--pre-nav-height));
    margin-bottom: calc(-1 * var(--nav-height) - var(--pre-nav-height));
    position: sticky;
    display: block;
    left: 0;
    top: calc(-1 * var(--pre-nav-height));
}

.pre-nav, nav.navbar, .pre-nav img, nav.navbar a {
    user-select: none;
    -webkit-user-drag: none;
}

.logo {
    height: 100%;
    display: block;
}

nav.navbar {
    width: 100%;
    position: sticky !important;
    background-position: 0 -4em;
    top: -2px;
    height: var(--nav-height);
    overflow: hidden;
}

nav.navbar ul {
    list-style: none;
    text-align: center;
    font-size: 0;
    padding: 15px 0;
}

nav.navbar ul li {
    display: inline-block;
    font-size: 1rem;
}

nav.navbar ul li a {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav.navbar ul li a:hover, nav.navbar ul li a.active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Multi-layer parallax effect */
.parallax-container {
    margin: 0 auto;
    --perspective: 100;
    perspective: calc(var(--perspective) * 1px);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.parallax-container > :not(.parallax-object) {
    /* position: relative; */
}

.parallax-object {
    --center-on: top;
    --left-offset: 0px;
    --z-offset: 0;
    --scale: calc(1 + (var(--z-offset) * -1) / var(--perspective));
    transform: scale(var(--scale)) translateZ(calc(var(--z-offset) * 1px)) translateX(calc(-1 * var(--left-offset)));
    transform-origin: center var(--center-on);
    position: absolute;
    top: calc(1% * var(--z-offset));
    width: 100%;
    /* why the hell do i need to do this? */
    left: 0;
    height: 400px;
}

.parallax-object:has(.topic) {
    position: relative;
    margin-bottom: 20px;
}

.topic {
    margin: 0 auto;
    font-size: 1.1em;
    backdrop-filter: blur(10px);
    background-color: #030014C0;
    color: white;
    padding: 20px;
    max-width: 900px;
}

.topic:last-child {
    margin-bottom: 0;
}

.parallax-mid {
    --z-offset: 0;
}

.parallax-mid-front {
    --z-offset: 25;
}

.parallax-back {
    --z-offset: -50;
}

.parallax-front {
    --z-offset: 50;
}

.background {
    background-image: url("https://www.kennedy-center.org/globalassets/education/resources-for-educators/classroom-resources/artsedge/media/art-space/art-space-169.jpg");
    background-size: contain;
}