html,
body {
    /* do nothing */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --school-color: #692933;
    --space-accent: #311d51;
    --space-secondary: #030014;
    --logo-width: 170px;
    --nav-background: linear-gradient(135deg, var(--school-color) var(--logo-width), transparent calc(var(--logo-width) + 20%)),
                      linear-gradient(185deg, var(--space-accent), var(--space-secondary));
}

* {
    box-sizing: border-box;
}

.pre-nav {
    padding: 10px 10px 0 10px;
    height: 4em;
}

.pre-nav, nav.navbar {
    background: var(--nav-background);
    background-size: 100% calc(5em + 20px);
}

.pre-nav img, nav.navbar a {
    user-select: none;
    -webkit-user-drag: none;
}

.logo {
    height: 100%;
    display: block;
}

nav.navbar {
    width: 100%;
    position: sticky !important;
    background-position: 0 -4em;
    top: -2px;
    margin-top: -1px;
}

nav.navbar ul {
    list-style: none;
    text-align: center;
    font-size: 0;
    padding: 10px 0;
}

nav.navbar ul li {
    display: inline-block;
    font-size: 1rem;
}

nav.navbar ul li a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Multi-layer parallax effect */
.parallax-container {
    margin: 0 auto;
    --perspective: 100;
    perspective: calc(var(--perspective) * 1px);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.parallax-container > :not(.parallax-object){
    z-index: 1;
    position: relative;
}

.parallax-object {
    --center-on: top;
    --z-offset: 0;
    --scale: calc(1 + (var(--z-offset) * -1) / var(--perspective));
    transform: scale(var(--scale)) translateZ(calc(var(--z-offset) * 1px));
    transform-origin: center var(--center-on);
    position: absolute;
    top: calc(1% * var(--z-offset));
    width: 100%;
    left: calc(10px * (1 - var(--scale)));
    height: 400px;
}

.topic {
    font-size: 1.1em;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}

.topic:last-child {
    margin-bottom: 0;
}

.parallax-mid {
    --z-offset: 0;
}

.parallax-mid-front {
    --z-offset: 25;
}

.parallax-back {
    --z-offset: -50;
}

.parallax-front {
    --z-offset: 50;
}

.background {
    background-image: url("https://i.redd.it/13s1ygieawu81.jpg");
    background-size: contain;
}