html,
body {
	/* do nothing */
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
	--school-color: #692933;
	--space-accent: #311d51C0;
	--space-secondary: #030014C0;
	--logo-width: 170px;
	--nav-background: linear-gradient(135deg, var(--school-color) var(--logo-width), transparent calc(var(--logo-width) + 20%)),
		linear-gradient(185deg, var(--space-accent), var(--space-secondary));

	--nav-height: calc(30px + 1em);
	--pre-nav-height: 4em;

	--content-width: 900px;
}

* {
	box-sizing: border-box;
}

.pre-nav {
	position: relative;
	padding: 10px 10px 0 10px;
	height: var(--pre-nav-height);
}

.pre-nav,
nav.navbar {
	position: relative;
	z-index: 1000;
	background: var(--nav-background);
	background-size: 100% calc(var(--nav-height) + var(--pre-nav-height));
}

.nav-blurdrop {
	backdrop-filter: blur(10px);
	width: 100%;
	height: calc(var(--nav-height) + var(--pre-nav-height));
	margin-bottom: calc(-1 * var(--nav-height) - var(--pre-nav-height));
	position: sticky;
	display: block;
	left: 0;
	top: calc(-1 * var(--pre-nav-height) - 2px);
	z-index: 999;
}

.pre-nav,
nav.navbar,
.pre-nav img,
nav.navbar a {
	user-select: none;
	-webkit-user-drag: none;
}

.logo {
	height: 100%;
	display: block;
}

nav.navbar {
	width: 100%;
	position: sticky;
	background-position: 0 -4em;
	top: -2px;
	height: var(--nav-height);
	overflow: hidden;
	margin-bottom: 50px;
}

nav.navbar ul {
	list-style: none;
	text-align: center;
	font-size: 0;
	padding: 15px 0;
}

nav.navbar ul li {
	display: inline-block;
	font-size: 1rem;
}

nav.navbar ul li a {
	padding: 15px 20px;
	color: white;
	text-decoration: none;
	transition: background-color 0.3s;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav.navbar ul li a:hover,
nav.navbar ul li a.active {
	background-color: rgba(255, 255, 255, 0.2);
}

/* Multi-layer parallax effect */
.parallax-container {
	margin: 0 auto;
	--perspective: 400;
	perspective: calc(var(--perspective) * 1px);
	height: 100vh;
	overflow-x: hidden;
	overflow-y: overlay;
	position: relative;
}

.parallax-object {
	--z-offset: 0;
	--scale: calc(1 + (var(--z-offset) * -1) / var(--perspective));
	--parallax-transform: translateZ(calc(var(--z-offset) * 1px));
	--parallax-transform-scale: scale(var(--scale)) var(--parallax-transform);
	z-index: calc(var(--z-offset));
	transform: var(--parallax-transform-scale);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.parallax-object.fix-alignment {
	transform: var(--parallax-transform-scale) translateX(calc(-1 * var(--left-offset)));
}

@media (min-width: 900px) {

	.parallax-object:has(.content-box.left, .content-box.right) {
		width: fit-content;
		transform: var(--parallax-transform-scale);
	}

	.parallax-object:has(.content-box.left) {
		padding-left: calc(50% - 450px);
		padding-right: 40px;
		border-radius: 0 20px 20px 0;
	}

	.parallax-object:has(.content-box.right) {
		margin-left: auto;
		padding-left: 40px;
		padding-right: calc(50% - 450px);
		border-radius: 20px 0 0 20px;
	}

}

.parallax-object:has(.content-box) {
	position: relative;
	margin-bottom: 50px;
	perspective: 200vh;
	backdrop-filter: blur(10px);
	background-color: #030014C0;
}

/* Flowing blocks */
.flow, .parallax-object.flow {
	margin-bottom: 0px;
	border-bottom: 2px solid #ee00ffbf;
	border-image: linear-gradient(28deg, #ee00ff, #4422cc);
	border-image-slice: 1;
}

.parallax-object.flow+.parallax-object {
	/* border-top: 2px solid #ee00ffbf; */
}

.parallax-object.flow .content-box {
	padding-bottom: 12px;
}

.parallax-object.flow+.parallax-object .content-box {
	padding-top: 12px;
}

.parallax-object.flow:has(.left) {
	border-bottom-right-radius: 0;
}

.parallax-object.flow:has(.right) {
	border-bottom-left-radius: 0;
}

.parallax-object.flow+.parallax-object:has(.left) {
	border-top-right-radius: 0;
}

.parallax-object.flow+.parallax-object:has(.right) {
	border-top-left-radius: 0;
}


.parallax-object:has(.content-box):last-child {
	margin-bottom: 0;
}

@property --scale {
	syntax: '<number>';
	initial-value: 1;
	inherits: false;
}

.content-box {
	--scale: 1;
	--angle: 0rad;
	display: block;
	margin: 0 auto;
	font-size: 1.1em;
	color: white;
	/* border-radius: 20px; */
	width: 100%;
	max-width: var(--content-width);
	transform: scale(var(--scale)) rotateX(var(--angle));
	transition: --scale 0.5s;
}

.content-box.left, .content-box.right {
	margin: 0;
}

.content-box+.content-box {
	margin-top: -10px;
}

.paragraph {
	min-height: 400px;
}

@property --ambient-rotate {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

@property --scroll-height {
	syntax: '<number>';
	initial-value: 0;
	inherits: true;
}

@keyframes ambient-rotate {
	0% {
		--ambient-rotate: 0deg;
	}

	50% {
		--ambient-rotate: 180deg;
	}

	100% {
		--ambient-rotate: 360deg;
	}
}

.particle {
	--ambient-rotate: 0deg;
	--rotate-scale: calc(var(--z-offset) / var(--perspective) + 1);
	--left: 0px;
	--top: 0px;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) var(--parallax-transform-scale) translate(var(--left), var(--top)) rotateZ(calc(var(--ambient-rotate) + 0.1deg * var(--rotate-scale) * var(--scroll-height)));
	-webkit-user-drag: none;
	user-select: none;
	animation: ambient-rotate calc(20s * var(--rotate-scale)) linear 0s infinite forwards;
	/* transition: --scroll-height 1s; */
}

.content-box:not(img, .carousel) {
	/* backdrop-filter: blur(10px);
	background-color: #030014C0; */
	padding: 30px;
}

.carousel {
	--carousel-height: auto;
	line-height: 100%;
	perspective: var(--content-width);
	overflow-y: hidden;
	overflow-x: scroll;
	text-wrap: nowrap;
	white-space: nowrap;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	position: relative;
}

.carousel img {
	--angle: 0deg;
	transform: translateZ(calc(-1 * var(--content-width))) rotateY(var(--angle)) translateZ(calc(var(--content-width) - 50%));
	position: relative;
	max-width: 900px;
	border-radius: 20px;
	/* height: var(--carousel-height); */
	object-fit: contain;
	/* background: var(--space-secondary); */
	/* backdrop-filter: blur(10px); */
	object-position: center;
	vertical-align: middle;
	scroll-snap-align: center;
	margin: 0 25px;
}

.carousel .prev, .carousel .next {
	--scale: 1;
	color: white;
	border: 1px solid white;
	text-shadow: 1px 1px 4px black;

	position: sticky;
	display: inline-block;
	left: -10px;
	top: 50%;
	width: 40px;
	height: 40px;
	z-index: 20;
	border-radius: 1000px;
	transform: translateY(-50%) scale(var(--scale));
	text-align: center;
	line-height: 40px;
	
	background: var(--space-secondary);
	background-image: radial-gradient(circle, rgba(249, 55, 210, 1) 0%, rgba(77, 205, 255, 1) 71%, transparent 75%);
	background-size: 400% 400%;
	background-position: 120% 120%;
	background-repeat: no-repeat;
	backdrop-filter: blur(10px);
	transition: background-position 0.3s, --scale 0.2s;
}

.carousel .prev:hover, .carousel .next:hover, .carousel .prev:focus, .carousel .next:focus {
	background-position: 71% 71%;
	--scale: 1.1;
}

.carousel .prev {
	left: -50px;
	transition: background-position 0.3s, --scale 0.2s, left 0.5s;
}

.carousel .next {
	right: -50px;
	transition: background-position 0.3s, --scale 0.2s, right 0.5s;
}

.carousel:hover .prev, .carousel:has(:focus) .prev {
	left: 10px;
}

.carousel:hover .next, .carousel:has(:focus) .next {
	right: 10px;
}

.carousel::before:hover {
	--scale: 1.1;
}

/* .content-box:not(.carousel):hover {
	--scale: 1.05;
} */

.parallax-mid {
	--z-offset: 0;
}

.parallax-mid-front {
	--z-offset: 50;
}

.parallax-mid-back {
	--z-offset: -50;
}

.parallax-back {
	--z-offset: -200;
}

.parallax-front {
	--z-offset: 100;
}

.background {
	background-image:
		linear-gradient(260deg, #030014, transparent),
		linear-gradient(84deg, var(--space-accent), transparent 50%),
		url("https://www.kennedy-center.org/globalassets/education/resources-for-educators/classroom-resources/artsedge/media/art-space/art-space-169.jpg");
	background-size: cover;
}

.moveable-background {
	background-attachment: fixed;
	background-position: calc(1px * var(--mouseX) - 100vw) calc(1px * var(--mouseY) - 100vh);
	background-size: 200vw 200vh;
}

.gradient-text {
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	text-fill-color: transparent;
}

.welcome {
	background-color: rgb(249, 55, 210);
	background-image: radial-gradient(circle, rgba(249, 55, 210, 1) 0%, rgba(77, 205, 255, 1) 100%);
	font-size: 3em;
	margin: 0;
	width: 900px;
	max-width: 100%;
	text-align: center;
}

.ad1 {
	background-color: rgb(249, 55, 210);
	background-image: linear-gradient(28deg, #ee00ff, #7818fd);
	font-size: 2em;
	margin: 0;
	width: 900px;
	max-width: 100%;
	text-align: center;
}

.header {
	background-image: linear-gradient(158deg, rgba(249, 55, 210, 1) 0%, rgba(77, 205, 255, 1) 100%);
	border-bottom: 5px solid #ee00ffbf;
	padding-bottom: 3px;
	border-image: linear-gradient(158deg, rgba(249, 55, 210, 1) 0%, rgba(77, 205, 255, 1) 100%);
	border-image-slice: 1;
}